? my $code = $_[0]->{code};
? my $tf = $_[0]->{tf};
? my $calc = $_[0]->{calc};
? my $cnt = $calc->prices->count;
? my $jsurl = $_[0]{env}{'psgix.jsconcat.url'};
<html>
<head>
<title>Tatsumaki Chat demo</title>
? if ($jsurl) {
<script src="<?= $jsurl ?>"></script>
? } else {
<script src="/static/jquery-1.3.2.min.js"></script>
<script src="/static/raphael.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/plugins/raphael.path.methods.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/joose.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/gtchart.js" type="text/javascript" charset="utf-8"></script>
? }
<link rel="stylesheet" href="/static/screen.css" />
<style type="text/css" media="screen">
#holder {
  height: 250px;
  width: 800px;
}  
</style>
<script type="text/javascript">
var R;
jQuery(function() {
var r = Raphael("holder", 800, 600);
var cnt = <?= $cnt ?>;

var view = new GTChart.View({ r: r, x: 10, y: 10, width: 750, height: 600,
                              items_to_load: 200, cnt: cnt});
var zone  = view.new_zone({ y:  10, height: 230});
var zone2 = view.new_zone({ y: 250, height: 150});


var scrolling = false;

function startScrolling(callback) {
  if (!scrolling) return;
  callback();
  setTimeout(function() { startScrolling(callback) }, new Date - scrolling < 1000 ? 50 : 10);
}

jQuery('#right').mousedown(function() {
scrolling = new Date;
startScrolling(function() { view.scroll_right() });
}).mouseup(function() { scrolling = false }) ;

jQuery('#left').mousedown(function() {
scrolling = new Date;
startScrolling(function() { view.scroll_left() });
}).mouseup(function() { scrolling = false }) ;

zone.add_loader('/d/<?= $code ?>/<?= $tf ?>/prices', {},
                zone.render_candle);

zone.add_loader('/d/<?= $code ?>/<?= $tf ?>/indicator', 
                { name: "I:SMA 5" },
                zone.render_curve);

zone2.add_loader('/d/<?= $code ?>/<?= $tf ?>/indicator', 
                 { name: "I:Prices VOLUME" },
                 zone.render_bar);

view.load();

// XXX: support mouse wheel: http://code.google.com/p/parchment/source/browse/trunk/src/plugins/jquery.mousewheel.js?spec=svn151&r=151

});
</script>
</head>
<body>
<div id="holder"></div>
<input id="left" type="button" value="<<">
<input id="right" type="button" value=">>">

</body>
</html>
